<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="36726GriffinFujioka.CustomCountdown" Publisher="CN=7A2280AF-F3B0-499B-A221-E1F53BF165FF" Version="1.0.0.1" />
  <Properties>
    <DisplayName>Custom Countdown</DisplayName>
    <PublisherDisplayName>Griffin Fujioka</PublisherDisplayName>
    <Logo>Assets\Custom CD Store Logo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Custom_Countdown.App">
      <VisualElements DisplayName="Custom Countdown" Logo="Assets\Custom CD Square Icon.png" SmallLogo="Assets\Custom CD Small Icon.png" Description="Custom Countdown" ForegroundText="light" BackgroundColor="#00CC99">
        <LockScreen Notification="badge" BadgeLogo="Assets\Custom CD Badge.png" />
        <DefaultTile ShowName="allLogos" WideLogo="Assets\Custom CD Wide Icon.png" />
        <SplashScreen Image="Assets\Custom CD Splash Screen.png" BackgroundColor="#00CC99" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="Clock.WinRT.TileSchedulerTask">
          <BackgroundTasks>
            <Task Type="systemEvent" />
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>